  /* The different themes */
  .theme-light {
    --color-primary: #D4D7DD;
    --color-secondary: #FFFFFF;
    --color-accent: #7289DA;
    --font-color: #111;
  }
  
  .theme-dark {
    --color-primary: #2F3136;/*#17ed90;*/
    --color-secondary: #36393F;
    --color-accent: #7289DA;
    --font-color: #B9BBBE;
  }

  .theme-eggplant {
    --color-primary: #30283f/*#252329*/;
    --color-secondary: #19171D;
    --color-accent: #4C9689;
    --font-color: #A5CAC4;
  }
  
  .theme-coral {
    --color-primary: #152A2D;
    --color-secondary: #173438;
    --color-accent: #EBA270;
    --font-color: #F5D0B7;
  }
  
  .theme-amethyst {
    --color-primary: #4A154B;
    --color-secondary: #1A1D21;
    --color-accent: #3A2D3B;
    --font-color: #9A9398;
  }
  
  .theme-deep-blue {
    --color-primary: #1F2A42;
    --color-secondary: #1A1D21;
    --color-accent: #2153FF;
    --font-color: #7B8395;
  }
  
  .theme-terminal {
    --color-primary: #1A2B23;
    --color-secondary: #1A1D21;
    --color-accent: #4EE077;
    --font-color: #347E4B;
  }
  
  .theme-chocolate-mint {
    --color-primary: #353330;
    --color-secondary: #212121;
    --color-accent: #5DB09D;
    --font-color: #ADD7CE;
  }

  .theme-milk-chocolate-mint {
    --color-primary: #42362B;
    --color-secondary: #544538;
    --color-accent: #5DB09D;
    --font-color: #ADD7CE;
  }
  
  .theme-red-bean {
    --color-primary: #461412;
    --color-secondary: #1A1D21;
    --color-accent: #6A1B1B;
    --font-color: #B47748;
  }
  
  .theme-candy-cotton {
    --color-primary: #EDB1B4;
    --color-secondary: #FFEEED;
    --color-accent: #FFC2C0;
    --font-color: #A56B85;
  }
  
  .theme-banana {
    --color-primary: #EEB60B;
    --color-secondary: #FFEB84;
    --color-accent: #FFC806;
    --font-color: #AC6C1D;
  }
  
  .theme-depressive {
    --color-primary: #C9C49C;
    --color-secondary: #1A1D21;
    --color-accent: #3E4232;
    --font-color: #838367;
  }
  
  .theme-btp {
    --color-primary: #444A47;
    --color-secondary: #4D5250;
    --color-accent: #D39B46;
    --font-color: #E9CDA2;
  }
  
  
  .color-selector {
    height: 200px;
    width: 200px;
    border: 20px solid;
    border-radius: 90px;
    box-sizing: border-box;
    background: var(--color-secondary);
    margin: 20px;
    color: var(--font-color);
    text-align: center;
    line-height: 160px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
  }
  
  .background-win {
    background-color: var(--color-primary);
    height: 600px;
    width: 600px;
    border-radius: 75px;

    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .exit-btn {
    display: inline-flex;
    height: 34px;
    width: 68px;
    bottom: 5%;
    right: 5%;
    border: 2px solid var(--color-secondary);
    border-radius: 34px;
    margin: 20px 20px 20px 20px;
    background-color: var(--color-accent);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
  }
  
  a {
    color: var(--font-color);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
  }
  



/* SCROLLBAR STUFF */

  .scroll-box {
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    margin: 30 auto;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .scroll-box::-webkit-scrollbar {
    width: .4em; 
  }
  .scroll-box::-webkit-scrollbar,
  .scroll-box::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
  }
  .scroll-box::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2); 
  }

  .cover-bar {
    position: absolute;
    background: var(--color-primary);
    height: 95%;  
    top: 2%;
    right: 5%;
    width: .4em;
    transition: all .5s;
    opacity: 1;
  }

  .background-win:hover .cover-bar {
    opacity: 0;
   transition: all .5s;
 }

 /* END OF SCROLLBAR STUFF */
  
  
  /* THEME SELECTOR */
  
  #theme-selector {
    position: fixed;
    bottom: 40px;
    left: 95%;
    display: block;
    width: 60px;
    height: 60px;
    background: var(--color-accent);
    z-index: 3;
    text-align: center;
    overflow: hidden;
    line-height: 65px;
    font-size: 1.5em;
    color: var(--font-color);
    -moz-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
    box-shadow: 0px 3px 9px rgba(0,0,0,.5);
    border-radius: 50px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  
  #theme-selector i {
    line-height: 60px;
    margin-right: auto !important;
  }
  
  #theme-selector:hover {
    cursor: pointer;
  }
  
  .dark,
  .light,
  .colors {
    position: fixed;
    bottom: 50px;
    left: 95%;
    width: 50px;
    height: 50px;
    color: var(--font-color);
    border-radius: 50px;
    z-index: 2;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.2);
    box-shadow: 0px 3px 9px rgba(0,0,0,.2);
    -webkit-transition: transform  .3s ease-in-out;
    transition: transform .3s ease-in-out;
  }
  
  .dark:hover, 
  .light:hover,
  .colors:hover {
    cursor: pointer;
  }
  
  .dark i,
  .light i,
  .colors i {
    display: block;
    line-height: 50px;
    font-size: x-large !important;
    margin-right: auto !important;
  }
  
  .dark {
    background: var(--color-secondary);
  }
  
  .light {
    background: var(--color-primary);
  }
  
  .colors {
    background: var(--color-accent);
  }
  
  /* END OF THEME SELECTOR */

  /* COLORED THEMES */
  #eggplant {
    background-color: #4C9689;
    color: #A5CAC4;
    border-color: #30283f;
  }

  #coral {
    background-color: #EBA270;
    color: #F5D0B7;
    border-color: #152A2D;
  }

  #amethyst {
    background-color: #3A2D3B;
    color: #9A9398;
    border-color: #4A154B;
  }
  
  #deep-blue {
    background-color: #2153FF;
    color: #7B8395;
    border-color: #1F2A42;
  }
  
  #terminal {
    background-color: #4EE077;
    color: #347E4B;
    border-color: #1A2B23;
  }
  
  #chocolate-mint {
    background-color: #5DB09D;
    color: #ADD7CE;
    border-color: #353330;
  }
  
  #milk-chocolate-mint {
    background-color: #5DB09D;
    color: #ADD7CE;
    border-color: #42362B;
  }
  
  #red-bean {
    background-color: #6A1B1B;
    color: #B47748;
    border-color: #461412;
  }
  
  #candy-cotton {
    background-color: #FFC2C0;
    color: #A56B85;
    border-color: #EDB1B4;
  }

  #banana {
    background-color: #FFC806;
    color: #AC6C1D;
    border-color: #EEB60B;
  }
  
  #depressive {
    background-color: #3E4232;
    color: #838367;
    border-color: #C9C49C;
  }
  
  #btp {
    background-color: #D39B46;
    color: #E9CDA2;
    border-color: #444A47;
  }
  